html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  background: url("../assets/images/Persona\ 3\ Reload\ Artbook_page-0001.jpg")
    center center no-repeat fixed;
  background-size: cover;
  color: #333;
}

nav {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px 0;
  border-radius: 0 0 8px 8px;
}

.nav-wrapper .brand-logo {
  font-weight: bold;
  font-size: 1.6rem;
}

main {
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 20px;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  padding: 20px 0;
}

h4 {
  font-weight: 500;
  margin-top: 30px;
}

.card .card-content p {
  font-size: 20px;
  line-height: 1.6;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
  background: none;
}

.custom-card-top {
  margin-top: 40px;
}

.custom-card-bottom {
  margin-bottom: 60px;
}

.card.small {
  height: 180px;
  overflow-y: auto;
}

.card.large {
  min-height: 300px;
}
